.login-contato {
    align-items: center;
    border: 2px solid #4a0404;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 8%;
}

.login-contato a, .wallet-contato a {
    color: black;
    text-decoration: none;
}

.login-contato div {
    display: flex;
    width: 50%;
    justify-content: center;
}

/* Header */
.wallet-contato {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    gap: 50px;
}
